:root {
    --dark-bg-color: #39393A;
    --med-bg-color: #D7D9CE;
    --light-high-light-color: #F991CC;
    --alt1-color: #CCC9A1;
    --alt2-color: #508991;
    --main-text: #39393A;
    --light-text: white;
}

html {font-family: sans-serif;
      color: var(--main-text);
      background-color: var(--med-bg-color);}

* {box-sizing: border-box;}

h1 {margin: 5px;}

.location-name {
    //text-align: left;
    //display: inline;
}

.ov-temp {font-size: 120%;
	  font-weight: bold;}

.overview-link {
		 width: 20rem;
		 max-width: 90%;
}

.loc-summary {
	       background-color: var(--dark-bg-color);
	       color: var(--light-text);
	       padding: 1em;
	       border-radius: 6px;
	       display: flex;
	       align-items: center;
	       gap: 1rem;
               border-radius: 4px;

}

div.summary-container {display: flex;
		       flex-wrap: wrap;
		       gap: 1em;		      
		       justify-content: center;}

.loc-summary div:first-child {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.loc-summary :is(p, h2) {margin: 0}

.loc-summary div:first-child > * {font-size: 1.2em;}

.input-container {display: flex;
		  flex-direction: row;}

form {margin: 0px;}

.button {padding: 8px;
	 font-size: 120%;
	 font-weight: bold;}

div.summary-container a:link, a:visited {text-decoration: none;
					 color:  var(--main-text);}

.little-timestamp {color: var(--alt1-color);}

body {margin: 0px;}

nav {background-color: var(--light-high-light-color);
     width: 100%;
     padding: 5px;
     border: 0px;
     font-weight: bold;}

form.temp-hist {
    display: flex;}

fieldset {
    border-radius: 4px;
    border: var(--main-text) 1px;
    border-style: solid;
}

fieldset:first-child > p {display: flex;
			  justify-content: space-between;}

#submit-button {margin: 0.5em 3em 3em;}

@media (max-width:520px) {
    form.temp-hist {
	flex-direction: column;
    }
}

