# /etc/systemd/system/hosewebview.service
[Unit]
Description=Gunicorn instance to serve homse sensor webview
After=network.target

[Service]
User={{ deploy_user }}
Group={{ __nginx_user }}
WorkingDirectory={{ install_dir }}/webview
Environment="PATH={{ webview_venv_path }}/bin"
ExecStart={{ webview_venv_path }}/bin/gunicorn --workers 1 \
	     --bind unix:hosewebview.sock -m 007 \
	     'hosewebview:create_app()'

[Install]
WantedBy=multi-user.target

