{# -*- engine:django -*- #}
{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Overview{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="summary-container">
{% for summary in summaries %}
    <a class="overview-link" href="{{ url_for('history', location=([summary['location']] + add_locs)) }}">
    <div class="loc-summary">
	<div><h2 class="location-name">{{ summary["location"] }}</h2>
	    <p class="ov-temp">{{ summary["temp_c"] }}&nbsp;°C</p></div>
	<div><p class="ov-humidity">{{ summary["humidity_pct"] }}&nbsp;%</p>
	    <p class="little-timestamp">{{ summary["localtime"] }}</p></div>
    </div></a>
{% endfor %}
    </div>

{% endblock %}

